* {
    box-sizing: border-box;
}
figure {
    padding: 0;
    margin: 0;
}
.container {
}
.jumping {
    display: flex;
}
.one p, h3 {
    padding-left: 5px;
    margin-top: 0;

}
.one{
}
.two-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.spinning {
    display: flex;
}
.three-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.two {
    margin-left: 5px;
}
@media screen and (max-width: 1420px){
    .two-container, .three-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 929px){
    .two-container, .three-container {
        grid-template-columns: 1fr 1fr;
    }
    img {
        width: 140px;
        height: 82px;
    }
}
@media screen and (max-width: 800px){
    .two-container, .three-container {
        grid-template-columns: 1fr 1fr;
    }
    img {
        width: 120px;
        height: 70px;
    }
}
@media screen and (max-width: 710px){
    .two-container, .three-container {
        grid-template-columns: 1fr 1fr;
    }
    img {
        width: 120px;
        height: 70px;
    }
}
@media screen and (max-width: 650px){
    .container {
        grid-row: 1;
        width: 100%;
    }
    .two-container, .three-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    }
    img {
        width: 170px;
        height: 99px;
    }
}
